<div class="nested-field">
  <div class="form-group">
    <div class="row">
      <div class="medium-8 columns">
        <%= f.text_field :body, :placeholder => "Add multiple choice answer" %>
      </div>

      <div class="medium-4 columns">
        <%= link_to_remove_fields "Remove Answer", f, :class => "button tiny secondary" %>
      </div>
    </div>
  </div>
</div>