<h1>About</h1>

<div class="row">
  <div class="large-8 medium-9 columns">
    <p>
    Answer some quick questions and we'll help you find partners for your FIELD 3 project who have similar interests, goals, work-styles, and competencies.
    </p>

    <h3>How To Take the Survey</h3>

    <p>
      Each question has three parts.
    </p>

    <ol>
      <li>
        Answer the question for yourself.
      </li>

      <li>
        Select all of the answers you would like your future teammates to pick. 
        Don’t hesitate to select more than half of the answers.
      </li>

      <li>
        Select how important it is that your teammates pick one of those answers.
        Remember that the third part of the question is about how important the question
        is to you, not how strong your answer from the first part of the question is.
      </li>
    </ol>

    <p>
      Thank you for taking the time to read this!
    </p>
  </div>

  <div class="large-4 columns">
    <h3>Contribute</h3>

    <p>
      This website is open source. Feel free to poke around the
      <%= link_to "source code", "https://github.com/cyrusstoller/hbs-cupid" %> on Github.
    </p>

    <p>
      Pull requests are very welcome!
    </p>
  </div>
</div>
