<div class="row">
  <div class="large-8 medium-9 columns">
    <h1>About</h1>

    <p>
    Answer some quick questions and we'll help you find partners for your FIELD 3 project who have similar interests, goals, work-styles, and competencies.
    </p>

    <h3>How To Take the Survey</h3>
    <p>
      Before you get started taking the survey, we would really
      appreciate if you spent a minute understanding how to best take the survey.
    </p>

    <p>
      Each question has three parts.
    </p>

    <ol>
      <li>
        For each question, you will be asked first to provide a personal fact or preference about yourself or your lifestyle.
      </li>

      <li>
        Then, in order to ensure that we can find good candidates with whom to match you, you will tell us what your 
        desired response in a match would be.
        Be sure to list all responses you consider “good,” and don’t be afraid if you
        don’t have very strong preferences.
      </li>

      <li>
        We next take into account the strength of your preferences in the third
        part of the question, in which we ask you to rank, on a scale from 0-5, how
        strong your preferences are that your roommate has the desired response. 0
        represents complete indifference, and 5 indicates a potential deal breaker.
        Remember that the third part of the question is about how important the question
        is to you, not how strong your answer from the first part of the question is.
      </li>
    </ol>

    <p>
      Thank you for taking the time to read this!
    </p>
  </div>
</div>
