<h1>Good work!</h1>

<p>You've completed all of our questions. We'll contact you shortly with your matches.</p>

<p>If you have any questions, don't hesitate to email Cyrus: <%= mail_to "cstoller@mba2016.hbs.edu" %>.</p>