<hr>
<p class="center footer">
  Put together by <%= link_to "Cyrus Stoller", "http://www.cyrusstoller.com/?ref=cupid" %> with the help of 
  Section J (Class of 2016) at Harvard Business School © 2014
</p>
